* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: grid;
}

.container {
    display: grid;
    height: 100vh;
    width: 80vw;
    margin: 4rem auto 0rem auto;
    h1 {
        margin: 2rem 0;
    };

    img {
        margin: 4rem auto;
        transform: translateX(50%);
        opacity: 0;
        transition: all 500ms;

        &.fade {
            transform: translateX(0);
            opacity: 1.0;
            transition: all 500ms;
            }
        }
}